@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Login";
}

@model LoginViewModel

@section css {
    <link href="~/css/login.css" rel="stylesheet" />
}

<section style="overflow-x: hidden;padding-top: 50px;height:97vh">
    <section id="content1" style="display: none">
        <div class="row">
            <div class="login-form">
                <form id="resetpasswordform">

                    <h4 class="password-reset-title">Reset your password</h4>
                    <p class="password-reset-heading">Enter your user account's verified email address and we will send you a password reset link.</p>
                    
                    <div class="form-group">
                        <input id="emailAddress" type="email" name="emailAddress" placeholder="Enter your email adress" class="form-control" />
                    </div>

                    <button id="sendEmailBtn" type="button" value="login" class="btn btn-primary btn-block btn-lg" style="background: #42ae68">
                        Send password reset email
                    </button>

                </form>
            </div>
        </div>
    </section>

    <section id="content2" style="display: none">
        <div class="row">
            <div class="login-form">
                <form asp-route="Login">

                    <h4 class="modal-title">Change your password</h4>

                    <div class="form-group">
                        <input id="newPassword" type="password" placeholder="Password" autocomplete="off" class="form-control" />
                    </div>

                    <div class="form-group">
                        <input id="confirmPassword" type="password" placeholder="Confirm Password" autocomplete="off" class="form-control" />
                    </div>

                    <button id="btnChangePassword" type="button" value="login" class="btn btn-primary btn-block btn-lg" style="background: #42ae68">
                        Change password
                    </button>

                </form>
            </div>
        </div>
    </section>

</section>
<script src="~/js/passwordreset.js"></script>
    


